---
import MenuIcon from "../MenuIcon.astro";
---

<button
  type="button"
  command="show-modal"
  commandfor="mobile-menu"
  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
>
  <MenuIcon />
</button>
