---
const { link } = Astro.props;
---

<a
  href={link.href}
  class="group -mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold"
>
  <span class="relative">
    {link.text}
    <span
      class="absolute bottom-0 left-1/2 h-[1px] w-0 bg-neutral-900 transition-all duration-300 ease-out group-hover:left-0 group-hover:w-full"
    >
    </span>
  </span>
</a>
