---
const { link } = Astro.props;
---

<a
  href={link.href}
  class="hover:bg-light-gray -mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold transition-colors duration-200 ease-out"
>
  {link.text}
</a>
