---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Home";
const finished = false;
---

<BaseLayout>
  <h1>{title}</h1>

  {!finished && <p class="text-amber-500">Under construction!</p>}
</BaseLayout>
