---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-white">
    <div class="mx-auto flex max-w-6xl justify-center px-6 lg:px-12">
      <div
        class="flex flex-col items-center gap-12 py-12 lg:flex-row-reverse lg:justify-evenly lg:py-24"
      >
        <img
          src="cropped_image.png"
          alt="A picture of myself"
          class="mx-auto max-w-xs lg:mx-0 lg:mb-0 lg:max-w-md"
        />
        <h1
          class="font-rubik text-center text-5xl font-semibold sm:text-6xl lg:text-left"
        >
          <span class="text-emerald-500">Hello!</span>
          I'm Raoul Wograndl.
        </h1>
      </div>
    </div>

    <section class="flex justify-center bg-neutral-100 py-16">
      <div class="max-w-6xl px-6">
        <h2 class="font-rubik text-4xl text-neutral-900">Work</h2>
        <span class="text-neutral-500">Arbeit</span>

        <p class="mt-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          cumque ex exercitationem explicabo ipsam ipsum magni recusandae sed
          voluptate. Deleniti fugiat fugit iste mollitia pariatur placeat
          provident quasi qui quibusdam? Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Accusamus cumque ex exercitationem explicabo ipsam
          ipsum magni recusandae sed voluptate. Deleniti fugiat fugit iste
          mollitia pariatur placeat provident quasi qui quibusdam? Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Accusamus cumque ex
          exercitationem explicabo ipsam ipsum magni recusandae sed voluptate.
          Deleniti fugiat fugit iste mollitia pariatur placeat provident quasi
          qui quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Accusamus cumque ex exercitationem explicabo ipsam ipsum magni
          recusandae sed voluptate. Deleniti fugiat fugit iste mollitia pariatur
          placeat provident quasi qui quibusdam?
        </p>
      </div>
    </section>

    <section class="mx-auto max-w-6xl px-6 py-16">
      <h2 class="font-rubik text-4xl text-neutral-900">About me</h2>
      <span class="text-neutral-500">Über mich</span>

      <p class="mt-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
        cumque ex exercitationem explicabo ipsam ipsum magni recusandae sed
        voluptate. Deleniti fugiat fugit iste mollitia pariatur placeat
        provident quasi qui quibusdam? Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Accusamus cumque ex exercitationem explicabo ipsam
        ipsum magni recusandae sed voluptate. Deleniti fugiat fugit iste
        mollitia pariatur placeat provident quasi qui quibusdam? Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Accusamus cumque ex
        exercitationem explicabo ipsam ipsum magni recusandae sed voluptate.
        Deleniti fugiat fugit iste mollitia pariatur placeat provident quasi qui
        quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus cumque ex exercitationem explicabo ipsam ipsum magni
        recusandae sed voluptate. Deleniti fugiat fugit iste mollitia pariatur
        placeat provident quasi qui quibusdam?
      </p>

      <h2 class="font-rubik mt-16 text-4xl text-neutral-900">Resume</h2>
      <span class="text-neutral-500">Lebenslauf</span>

      <p class="mt-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
        cumque ex exercitationem explicabo ipsam ipsum magni recusandae sed
        voluptate. Deleniti fugiat fugit iste mollitia pariatur placeat
        provident quasi qui quibusdam? Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Accusamus cumque ex exercitationem explicabo ipsam
        ipsum magni recusandae sed voluptate. Deleniti fugiat fugit iste
        mollitia pariatur placeat provident quasi qui quibusdam? Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Accusamus cumque ex
        exercitationem explicabo ipsam ipsum magni recusandae sed voluptate.
        Deleniti fugiat fugit iste mollitia pariatur placeat provident quasi qui
        quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus cumque ex exercitationem explicabo ipsam ipsum magni
        recusandae sed voluptate. Deleniti fugiat fugit iste mollitia pariatur
        placeat provident quasi qui quibusdam?
      </p>
    </section>

    <section
      class="bg-i-800 flex justify-center py-16 text-white"
      style="background-color: rgb(34, 40, 40);"
    >
      <div class="max-w-6xl px-6">
        <h2 class="font-rubik text-4xl">Contact</h2>
        <span class="text-neutral-300">Kontakt</span>

        <p class="mt-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          cumque ex exercitationem explicabo ipsam ipsum magni recusandae sed
          voluptate. Deleniti fugiat fugit iste mollitia pariatur placeat
          provident quasi qui quibusdam? Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Accusamus cumque ex exercitationem explicabo ipsam
          ipsum magni recusandae sed voluptate. Deleniti fugiat fugit iste
          mollitia pariatur placeat provident quasi qui quibusdam? Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Accusamus cumque ex
          exercitationem explicabo ipsam ipsum magni recusandae sed voluptate.
          Deleniti fugiat fugit iste mollitia pariatur placeat provident quasi
          qui quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Accusamus cumque ex exercitationem explicabo ipsam ipsum magni
          recusandae sed voluptate. Deleniti fugiat fugit iste mollitia pariatur
          placeat provident quasi qui quibusdam?
        </p>
      </div>
    </section>
  </div>
</BaseLayout>
