---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-auto max-w-6xl px-6 sm:px-12">
    <h1>Under construction</h1>
  </div>
</BaseLayout>
