---

---

<section class="bg-dark-gray flex justify-center py-16 text-white" id="contact">
  <div class="w-full max-w-6xl px-6 sm:px-12">
    <h2 class="font-rubik text-4xl">Contact</h2>
    <span class="text-neutral-300">Kontakt</span>

    <p class="mt-8 text-lg text-neutral-200">
      Feel free to send me an email at
      <a href="mailto:wograndl.raoul@gmail.com" class="text-white underline">
        wograndl.raoul@gmail.com
      </a> or hit me up on my socials!
    </p>
  </div>
</section>
