---

---

<section class="bg-dark-gray flex justify-center py-16 text-white" id="contact">
  <div class="w-full max-w-6xl px-6 sm:px-12">
    <h2 class="font-rubik text-4xl">Contact</h2>
    <span class="text-neutral-300">Kontakt</span>

    <p
      class="reveal mt-8 translate-y-8 text-lg text-neutral-200 opacity-0 transition-all delay-100 duration-400"
    >
      Email:
      <span class="ml-2 text-white font-semibold">
        wograndl &lt;dot&gt; raoul &lt;at&gt; gmail &lt;dot&gt; com
      </span>
    </p>
  </div>
</section>
