---
import Socials from "./Socials.astro";
---

<footer class="bg-black">
  <div
    class="mx-auto max-w-6xl px-6 py-8 sm:px-12 md:flex md:items-center md:justify-between"
  >
    <Socials />

    <p class="mt-8 text-center text-sm/6 text-white md:order-1 md:mt-0">
      &copy; 2026 Raoul Wograndl.
    </p>
  </div>
</footer>
